{% extends "layout/base.twig" %}

{% block content %}
    <div class="template-search">
        {% for post in posts %}
            {% include ['partials/tease/tease-'~post.post_type~'.twig', 'partials/tease/tease.twig'] %}
        {% endfor %}

        {% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div>
{% endblock %}
