html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@mixin heading {
    font-family: $font-family-heading;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    line-height: $line-height-heading;
    font-weight: $font-weight-heading;
    color: inherit;
}

@mixin heading-1 {
    @include heading;
    font-size: 2.25rem;
}

@mixin heading-2 {
    @include heading;
    font-size: 1.875rem;
}

@mixin heading-3 {
    @include heading;
    font-size: 1.5rem;
}

@mixin heading-4 {
    @include heading;
    margin-top: 0.625rem;
    font-size: 1.125rem;
}

@mixin heading-5 {
    @include heading;
    margin-top: 0.625rem;
    font-size: 0.875rem;
}

@mixin heading-6 {
    @include heading;
    margin-top: 0.625rem;
    font-size: 0.75rem;
}

h1 { @include heading-1; }
h2 { @include heading-2; }
h3 { @include heading-3; }
h4 { @include heading-4; }
h5 { @include heading-5; }
h6 { @include heading-6; }

p {
    margin: 0 0 0.625rem;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

dl {
    dt {
        font-weight: 700;
        margin-top: 0.75rem;
    }
    dd {
        margin: 0;
    }
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
}
ol {
    list-style: decimal;
}
ul {
    list-style: disc;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
}

table {
    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
    }

    th {
        text-align: left;
        font-weight: 700;
    }
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

a {
    color: $a-color-base;
    text-decoration: none;
    transition: color $animation-duration-base $animation-timing-base;
    &:visited {
        color: $a-color-visited;
    }
    &:hover {
        color: $a-color-hover;
    }
    &:active {
        color: $a-color-active;
    }
}
b, strong {
    font-weight: 700;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
u, ins {
    text-decoration: underline;
}
del, s {
    text-decoration: line-through;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
small {
    font-size: 85%;
}
q {
    quotes: inherit;
    &::before {
        content: open-quote;
    }
    &::after {
        content: close-quote;
    }
}
mark {
    padding: .2em;
    background-color: #fcf8e3;
}
img {
    vertical-align: middle;
}

img,
figure,
svg {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
