//
// Theme Colour Set
//

// BasicColours
$color-white: white;                                        //White
$color-whitesmoke: whitesmoke;                              //White Smoke
$color-lightgray: lightgray;                                //Light Gray
$color-gray: gray;                                          //Gray
$color-black: black;                                        //Black
$color-blue: blue;                                          //Blue
$color-red: red;                                            //Red
$color-yellow: yellow;                                      //Yellow
$color-green: green;                                        //Green
$color-purple: purple;                                      //Purple
$color-orange: orange;                                      //Orange
$color-pink: pink;                                          //Pink
$color-cyan: cyan;                                          //Cyan

// ThemeColours
$color-theme-white: white;                                  //White
$color-theme-black: black;                                  //Black
$color-theme-gray: gray;                                    //Gray

// FontColours
$font-color-base: black;                                    //Font colour

// LinkColours
$a-color-base: #0000FF;                                     //Link colour
$a-color-hover: #191970;                                    //Link hover
$a-color-visited: #800080;                                  //Link visited
$a-color-active: #FF0000;                                   //Link active

// BackgroundColors
$background-color-header: gray;                             //Header background
$background-color-content: whitesmoke;                      //Content background
$background-color-footer: gray;                             //Footer background

// EditorColourPalette
$dusty: #96858F;                                            //Dusty
$lavender: #6D7993;                                         //Lavender
$overcast: #9099A2;                                         //Overcast
$paper: #D5D5D5;                                            //Paper
$yellow: #FFFF00;                                           //Yellow
$mauve: #AA00FF;                                            //Mauve
$puke: #55FF00;                                             //Puke


