/**
 * Variables
 */
$mixin-width-content: $width-content;
$mixin-padding-side: $padding-side;
$mixin-padding-side-small: $padding-side-small;

/**
 * Media query
 */
@mixin media($query, $direction: 'up') {
    @if $direction == 'down' {
        @media screen and (max-width: $query) {
            @content
        }
    } @else {
        @media screen and (min-width: $query) {
            @content
        }
    }
}

/**
 * Content container
 *
 * @variable $mixin-width-content
 */
@mixin content-container($width: $mixin-width-content) {
    margin: 0 auto;
    max-width: $width;
}

/**
 * Responsive side padding
 *
 * @variable $mixin-padding-side
 * @variable $mixin-padding-side-small
 */
@mixin side-padding($side: $mixin-padding-side) {

    padding-left: $mixin-padding-side-small;
    padding-right: $mixin-padding-side-small;
    @include media($small-screen) {
        padding-left: $side/3;
        padding-right: $side/3;
    }
    @include media($medium-screen) {
        padding-left: $side/2;
        padding-right: $side/2;
    }
    @include media($large-screen) {
        padding-left: $side/1.5;
        padding-right: $side/1.5;
    }
    @include media($larger-screen) {
        padding-left: $side;
        padding-right: $side;
    }
}