// Typography
$font-family-base: Verdana, Geneva, sans-serif;
$font-family-heading: Verdana, Geneva, sans-serif;

// Font Sizes
$font-size-base: 16px;

// Font Weight
$font-weight-base: normal;
$font-weight-heading: normal;
$font-weight-bold: bold;

// Line height
$line-height-base: 1.61803398875;
$line-height-heading: 1.3;

// Box Shadow
$box-shadow-base: 0 0 10px 0 rgba(39, 49, 65, 0.1);

// Animations
$animation-duration-base: 150ms;
$animation-timing-base: ease;

// Breakpoints
$small-screen: 426px;
$medium-screen: 640px;
$large-screen: 900px;
$larger-screen: 1100px;

/*
$small-screen-up: new-breakpoint(min-width $small-screen 12);
$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
$larger-screen-up: new-breakpoint(min-width $larger-screen 12);
*/

// Widths
$width-site: 1366px;
$width-header: $width-site;
$width-content: $width-site;
$width-footer: $width-site;

// Padding
$padding-side: 135px;
$padding-side-small: 10px;
