
@font-face {
  font-family: 'Clarendon';
  src: url('Clarendon.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clarendon';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('Clarendon.ttf')  format('truetype'), url('Clarendon.svg#Clarendon') format('svg');
  font-weight: normal;
  font-style: normal;
}


