{% block about %}
<div class="row traditional-container">
   

        {% for field in fields.flexible_content %}
              <h3 class="about-title">{{ field.traditional_section_title }}</h3>
        {% endfor %}
       

        <div class="col-6">
            {% for field in fields.flexible_content %}
                 {% for about in field.traditional_information %}
                    {% if about.traditional_text_title %}
                    <h3 class="traditional-title"> {{about.traditional_text_title}} </h3>
                    {% endif %}

                    {% if about.traditional_text %}
                        <p class="traditional-text"> {{ about.traditional_text }} </p>
                    {% endif %}

                 {% endfor %}
            {% endfor %}
        </div>


     <div class="col-6 bild">
        {% for field in fields.flexible_content %}
             {% for about in field.traditional_information %}
                {% if about.traditional_image %}
            
                    <img src="{{ Image(about.traditional_image) }}" class="traditional-image">
        

                {% endif %}
            {% endfor %}
        {% endfor %}
        
     </div>             
       
   
</div>
{% endblock %}