<div class="wrapper">
    Copyright {{"now"|date('Y')}}
    <div class="contact-info-address">
	    {{ idkomm_get_contact_info_address()|nl2br() }}
    </div>
    <div class="contact-info-selector">
	    {{ idkomm_get_selector() }}
    </div>
</div>

