<div class="wrapper">
    <nav id="nav-main" class="nav-main" role="navigation">
        {% for field in fields.flexible_content %}
            {% if (field.header_image) %}
             <img src="{{ Image(field.header_image) }} " class="header-hero">
             {% endif %}
        {% endfor %}
    </nav><!-- #nav-main -->
</div>