{% block recipe %}
    <div class="recipe-block">
    
        <h2 class="recipe-headline">RECEPT</h2>
               
             <div class="row">
      
            {% for post in recipes %}
        
                <div class="col-lg-4 col-md-6 col-sm-12 recipe-content">
                    <a class="recipe-link" href="{{ post.link }}">
                        {% if (post.recipe_image) %}
                            <img src="{{ Image(post.recipe_image) }}" class="recipe-image">
                        {% endif %}
                        <div class="recipe-text-content">
                            <h1 class="recipe-title">{{ post.recipe_title }}</h1>
                            <p class)"recipe-body">{{ post.recipe_excerpt }}</p>
                        </div>
                    </a>
                </div>
                
            {% endfor %}                     

        

        </div>
    </div>

       


      {#   {% for post in recipes %}
          
            <div>
            {% for recipe in bajs %}
            <p>hej</p>
            {% if (recipe.ingredient) %}
                
                {% endif %}
            {% endfor %}
            
            </div>
           
        {% endfor %} #}

{% endblock %}