{% block slider %}
<div id="carouselExampleControls" class="carousel slide slider-container" data-ride="carousel">
  <div class="carousel-inner testing">
        {% for field in fields.flexible_content %}
            {% for image in field.image_for_slider %}
              {% if loop.first %}
                <div class="carousel-item active">
              {% else %}
                <div class="carousel-item">
              {% endif %}
            <img src="{{ Image(image.slider_image) }}" class="d-block w-100 slider-item"> 
            <div class="slider-text">
              <h3 class="slider-title"> {{ image.slider_title }} </h3>
              <p class="slider-body"> {{ image.slider_body }} </p>
            </div>
                    </div>
        {% endfor %}

<div class="slider-prev">
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
   <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle controller-sizing" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
</svg>
  </a>
</div>
<div class="slider-next">
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle controller-sizing" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
</svg>
  </a>
</div>
          
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}