.footer-content{
    background-color: #404148;
    margin: 0;
    line-height: 0.5em;
    height: 25vh;
    border-top: 15px solid #A88A4F;
    text-align: center;
    margin-top: 5%;
}

.footer-content p{
    color: #A88A4F;
    font-family: italic;
}

.footer-content a{
    font-size: 40px;
    color: #A88A4F;
}

.instagram:hover{
    border:none;
}
