.product-block{
    width: 90%;
    margin-left: 5%;
}

.product-image{
    width: 100%;
 }
 
 .product-headline{
     text-align: center;
     font-size: 10em;
 }
 
 .product-title{
     text-align: center;
 }