@font-face {
    font-family: 'Clarendon';
    src: url('mackays/fonts/Clarendon.ttf') format('truetype');
    font-weight: normal; /* format('embedded-opentype'); */
    font-style: normal;
  }
  
 /*  @font-face {
    font-family: 'Clarendon';
    src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('http://mackays.test/content/themes/mackays/fonts/Clarendon.ttf')  format('truetype'), url('http://mackays.test/content/themes/mackays/fonts/Clarendon.svg#Clarendon') format('svg');
    font-weight: normal;
    font-style: normal;
  } */

.product-block{
    width: 90%;
    margin-left: 5%;
}

.product-image{
    width: 75%;
    margin-left: 12.5%;
 }
 
 .product-headline{
    text-align: center;
    font-size: 5em;
    color: #004737;
    font-family: 'Clarendon';
    margin-top: 5%;
 }

.product-text-content{
    text-align: center;
    color: #0a533d;
}

 .product-link{
    color: #0a533d;
    text-decoration: none;
}

.product-link:hover{
    color: #0a533d;
    text-decoration: none;
}
 
 .product-title{
     text-align: center;
     font-family: "Clarendon";
     text-transform: uppercase;
 }

 .product-dropdown{
    text-align: center;
    color: #0a533d;
 }

 .collapse-info{
     width: 100%;
     margin-left: 10%;
     margin-top: 2%;
 }

 .span-acf{
     color: #404148;
 }

.collapse-info p{
    text-align: left;
    font-size: 20px;
    
}

.collapse-p{
    margin: 0;
}



.collapse-style{
    color: #0a553d;
    text-align: left;
}

.fa-plus-circle, .fa-minus-circle{
    color:#0a553d;
}

.collapsing{
    transition: 0.5s ease-in-out;
}

.collapse-ingredients{
    color: #404148;
    font-size: 20px;
}

.more-products-button{
    font-size: 25px;
    background-color: #0a533d;
    padding: 1% 6% 1% 6%;
    color: white;
    border: none;
    margin: 5%;
}
  

@media only screen and (max-width: 500px) {
    .product-headline{
        font-size: 50px;
    }

    .collapse-info{
        width: 90%;

        .collapse-ingredients{
            color: #404148;
            font-size: 20px;
        }
    }

    
}