.recipe-image{
   width: 100%;
}

.recipe-block{
    overflow-x: hidden;
    width: 90%;
    margin-left: 5%;
   /*  margin-left: 5%; */
}



.recipe-headline{
    text-align: center;
    font-size: 10em;
}

.recipe-title{
    text-align: center;
}